

.logo {
  font-family: Leckerli One, cursive;
  font-size: 36px;
  text-decoration: none;
  color: #f13a59;
  padding: 10px;
  margin: auto;
  
}

.logo-container {
  display: flex;
  justify-content: flex-start;
}

.navbar {
  height: 80px;
  border-bottom: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 5px 6px -6px black;
  display: flex;
  justify-content: space-between;
}


.nav-links {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}


.signup-login {
  width: 130px;
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  margin-right: 10px;
}

.signup-login button {
  text-decoration: none;
  color: grey;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

#group-create {
  text-decoration: none;
  font-weight: 700;
  color: #00a2c7;
  border-right: solid;
  border-right-width: thin;
  border-right-color: lightgray;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
