.signup-container {
  display: flex;
  width: 100%;
  height: 644px;
  background-color: white;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signup-form-container {
  width: 524px;
  height: 644px;
  background-color: white;
  /* position: absolute; */
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.errors-session {
  color: #e81035;
  font-weight: 600;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 16px;
  float: left;
  padding-top: 3px;

}
.signup-form {

  height: 610px;
  width: 456px;
  background-color: white;
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  /* bottom: 0; */
  /* margin: auto; */
  border-color: gray;
}

.sign-up {
  width: 100%;
  /* display: block; */
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 16px;
  /* margin: auto; */
}

.demo-button-container {
  width: 420px;
}

#demo-button {
  background-color: #3b5998;
  height: 45px;
  width: 425px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-inputs-container {
  width: 426px;
  height: 245px;
  padding-top: 25px;

}
.signup-input > label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 550;
  line-height: 20.8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 10px;
  border-top: 1px;
  border-top: black;
}

.signup-input > input {
  display: block;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 30px;
  background-color: #fafafa;
  border-radius: 3px;
  width: 415px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  outline: none;
  margin-bottom: 15px;
  padding: 5px;
}

.signup-input > input:focus {
  outline: darkblue;
  border: 3px, solid, darkblue;
  border-width: 1px;
  background-color: white;
}

.name-disclaimer {
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 20.8px;
  color: #808080e3;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
  height: 40px;
  -webkit-font-smoothing: antialiased;
  padding-top: 10px;
  padding-bottom: 15px;
}

.submit-button {
  background-color: #e81035;
  height: 45px;
  width: 429px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  margin-left: 16px;
  margin-right: 16px;

}


.button-disclaimer {
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 20.8px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  height: 40px;
  -webkit-font-smoothing: antialiased;
  padding-top: 15px;
}

.otherwise {
  display: block;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 425px;
  text-align: center;
  height: 40px;
  -webkit-font-smoothing: antialiased;
  border-top: solid;
  border-width: thin;
  border-color: lightgray;
  margin-top: 60px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 1px;
}

#otherwise-alt {
  font-size: 13px;
  font-weight: 300;
  line-height: 20.8px;
}